In [87]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [100]:
df = pd.read_csv("ozone.csv")
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [101]:
df = df.loc[df['Solar.R'].dropna().index]
df = df.loc[df['Ozone'].dropna().index]
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
6     23.0    299.0   8.6    65      5    7
..     ...      ...   ...   ...    ...  ...
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[111 rows x 6 columns]

In [107]:
X = df[['Solar.R','Wind','Temp']]
y = df[['Ozone']]

In [108]:
X = np.array(X)
y = np.array(y)

In [109]:
dt_r = DecisionTreeRegressor(random_state=156)

In [110]:
kfold=KFold(n_splits=5)
cv_accuracy=[]
print(X.shape[0])

111

In [112]:
n_iter = 0

for train_index, test_index in kfold.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    dt_r.fit(X_train, y_train)
    pred = dt_r.predict(X_test)
    n_iter += 1
    
    accuracy = np.round(accuracy_score(y_test, pred), 4)
    train_size = X_train.shape[0]
    test_size = X_test.shape[0]
    print('\n#{0} 교차 검증 정확도:{1}, 학습 데이터 크기: {2}, 검증 데이터 크기: {3}'.format(n_iter, accuracy, train_size, test_size))
    print('#{0} 검증 세트 인덱스:{1}'.format(n_iter, test_index))
    cv_accuracy.append(accuracy)

print(np.mean(cv_accuracy))

#1 교차 검증 정확도:0.0435, 학습 데이터 크기: 88, 검증 데이터 크기: 23
#1 검증 세트 인덱스:[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]

#2 교차 검증 정확도:0.0, 학습 데이터 크기: 89, 검증 데이터 크기: 22
#2 검증 세트 인덱스:[23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44]

#3 교차 검증 정확도:0.0, 학습 데이터 크기: 89, 검증 데이터 크기: 22
#3 검증 세트 인덱스:[45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66]

#4 교차 검증 정확도:0.0909, 학습 데이터 크기: 89, 검증 데이터 크기: 22
#4 검증 세트 인덱스:[67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88]

#5 교차 검증 정확도:0.0455, 학습 데이터 크기: 89, 검증 데이터 크기: 22
#5 검증 세트 인덱스:[ 89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106
 107 108 109 110]
0.03598

In [127]:
from sklearn.preprocessing import MinMaxScaler

# 교차검증용 데이터 나누기
Xtrain, Xtest, ytrain, ytest= train_test_split(X, y, test_size=0.2, random_state=42)
Val_Xtrain, Val_Xtest, Val_ytrain, Val_ytest = train_test_split(Xtrain,ytrain,test_size=0.2,random_state=42)

MinMax = MinMaxScaler()
MinMax.fit(Val_Xtrain)
Min_train_scaled = MinMax.transform(Val_Xtrain)
Min_test_scaled = MinMax.transform(Val_Xtest)

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(Min_train_scaled, Val_ytrain)

LinearRegression()

In [125]:
lr.score(Min_test_scaled, Val_ytest)

0.43697705560300415